.idea/*

#exclude my training module
app/*
!app/code/
app/code/*
!app/code/local/
app/code/local/*
!app/code/local/Training/
app/code/local/Training/*
!app/code/local/Training/Cms/

#exclude adminhtml training layout
!app/design/
app/design/*
!app/design/adminhtml/
app/design/adminhtml/*
!app/design/adminhtml/default/
app/design/adminhtml/default/*
!app/design/adminhtml/default/default/
app/design/adminhtml/default/default/*
!app/design/adminhtml/default/default/layout/
app/design/adminhtml/default/default/layout/*
!app/design/adminhtml/default/default/layout/training/

#exclude frontend training templates
!app/design/frontend/
app/design/frontend/*
!app/design/frontend/base/
app/design/frontend/base/*
!app/design/frontend/base/default/
app/design/frontend/base/default/*
!app/design/frontend/base/default/template/
!app/design/frontend/base/default/layout/
app/design/frontend/base/default/template/*
app/design/frontend/base/default/layout/*
!app/design/frontend/base/default/template/training/
!app/design/frontend/base/default/layout/training/


dev/*
downloader/*
errors/*
includes/*
js/*
lib/*
media/*
shell/*
skin/*
var/*
.htaccess
.htaccess.sample
api.php
cron.php
cron.sh
favicon.ico
get.php
index.php
index.php.sample
install.php
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
mage
php.ini.sample
RELEASE_NOTES.txt
test.php
